<% provide(:title, "Contacto") %>
<h1>Contacto</h1>
<p>Si te interesa saber más de este estudio, envía un correo con tus datos <br>
  donde nos incluyas el número de estudio en el que participaste.</p>
