<% provide(:title, "Resultados") %>
<h1>RESULTADOS</h1>
<p>Se presentan los resultados que observarán los participantes para que puedan
   adaptar la estrategia de sus jugadas según lo que obtienen de sus <br>
   decisiones conjuntas.</p>
