<footer class="footer">
  <small>
    Universidad Nacional Autonoma de México. Investigación: 105678-fs
  </small>
  <nav>
    <ul>
      <li><a href="https://www.unam.mx">UNAM</a></li>
      <li><%= link_to "Contact", contacto_path %></li>
      <li><a href="http://www.instructables.com">Un link</a></li>
    </ul>
  </nav>
</footer>
